@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #ffffff;
  --background-rgb: #1E2D5D;
}

body {
  color: var(--foreground-rgb);
  background: var(--background-rgb);
}
